/* colors */
$DarkViolet: hsl(256, 26%, 20%);
$GrayishBlue: hsl(216, 30%, 68%);
$veryDarkViolet: hsl(270, 9%, 17%);
$darkGrayishViolet: hsl(273, 4%, 51%);
$veryLightGray: hsl(0, 0%, 98%);

/* responsive */
$laptop: 1024px;
$tablet: 768px;

@mixin laptop {
  @media (min-width: #{$laptop}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

/*  =============
    global styles
    =============  */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: "Karla", sans-serif;
}

h1,
h2,
h3 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

hr {
  margin: 40px auto;
  max-width: 330px;

  @include laptop() {
    max-width: 100%;
  }
}

a {
  text-decoration: none;
  color: $darkGrayishViolet;
  font-weight: 700;
}

img {
  max-width: 100%;
}

.container {
  max-width: 327px;
  margin: auto;

  @include tablet() {
    max-width: 76%;
  }
}

/*  =============
    header
    =============  */

.header {
  display: grid;
  grid-template-columns: 1fr;
}

/* Nested `nav` block */
.nav-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 5;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__toggle {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;

    @include tablet() {
      display: none;
    }
  }

  &__menu {
    display: none;

    @include tablet() {
      display: flex;
      align-items: center;
    }
  }

  &__items {
    display: flex;
    text-transform: uppercase;

    @include tablet() {
      font-size: 12px;
    }

    @include laptop() {
      font-size: 16px;
    }
  }

  &__item {
    margin-right: 30px;
  }

  &__link {
    &:hover {
      color: $veryDarkViolet;
    }
  }
}

/* show mobile menu */
@media (max-width: #{$tablet}) {
  .nav-open .nav__menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    top: 80px;
    left: 0;
    height: 100vh;
    background-color: $veryDarkViolet;
    background-image: url(../images/bg-pattern-mobile-nav.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 100%;
  }

  .nav-open .nav__items {
    flex-direction: column;
    align-items: center;
  }

  .nav-open .nav__item {
    margin: 0;
    margin-top: 40px;
  }

  .nav-open .nav__link {
    color: $veryLightGray;
    letter-spacing: 3px;
  }

  .nav-open .btn--white {
    width: 300px;
    margin-top: 30px;
    height: 60px;
    background-color: transparent;
    color: $veryLightGray;
    border: 1px solid $veryLightGray;
    font-size: 16px;
    font-weight: 700;
  }
}
/* Nested `slide` block */

.slide {
  display: flex;
  flex-direction: column;
  background-color: $DarkViolet;
  background-image: url(../images/bg-pattern-intro-left-mobile.svg);
  background-repeat: no-repeat;
  position: relative;

  @include laptop() {
    background-image: none;
    margin-top: 70px;

    &::before {
      content: "";
      background-image: url(../images/bg-pattern-intro-left-desktop.svg);
      background-repeat: no-repeat;
      background-position: left bottom;
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: -300px;
    }
  }

  &:after {
    content: "";
    background-image: url(../images/bg-pattern-intro-right-mobile.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -170px;

    @include laptop() {
      background-image: url(../images/bg-pattern-intro-right-desktop.svg);
      background-position: top right;
      bottom: 0;
    }
  }

  &__title {
    font-size: 47px;

    @include tablet() {
      margin-top: 35px;
      position: relative;
      font-size: 405x;

      &::before {
        content: "";
        border: 1px solid $darkGrayishViolet;
        width: 28%;
        position: absolute;
        top: -35px;
      }
    }

    @include laptop() {
      font-size: 67px;
      margin-top: 70px;

      &::before {
        top: -70px;
      }
    }
  }

  &__content {
    color: $veryLightGray;
    height: 500px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;

    @include tablet() {
      grid-template-columns: 1fr 1fr;
      margin-top: 100px;
      align-items: flex-start;
    }
  }

  &__info {
    @include tablet() {
      // max-width: 541px;
      text-align: left;
      padding-right: 40px;
      z-index: 1;
    }
  }

  &__text {
    font-size: 16px;
    margin-bottom: 37px;
  }
}

/* Nested image mobile version */

.intro-mobile {
  margin: auto;
  margin-top: 80px;

  @include tablet() {
    display: none;
  }
}

/* Nested image desktop version */

.intro-desktop {
  display: none;

  @include tablet() {
    display: block;
  }
}

/*  ===================
    main
    ===================  */

/*  ========================
    section `features` block
    =============  */

.features {
  text-align: center;
  margin-top: 140px;
  margin-bottom: 144px;

  @include laptop() {
    text-align: left;
    margin-top: 300px;
  }

  &__title {
    font-size: 47px;
    color: $veryDarkViolet;
    margin-bottom: 85px;

    @include laptop() {
      position: relative;
      font-size: 70px;
      &::before {
        content: "";
        border: 1px solid $darkGrayishViolet;
        width: 15%;
        top: -70px;
        position: absolute;
      }
    }
  }
}

/* Nested `cards` block */

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 56px;

  @include laptop() {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*  =============
    section `work` block
    =============  */

.work {
  background-color: $DarkViolet;
  text-align: center;
  height: 347px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 140px;
  background-image: url(../images/bg-pattern-how-we-work-mobile.svg);
  background-repeat: no-repeat;
  background-position: right top;

  @include laptop() {
    background-image: url(../images/bg-pattern-how-we-work-desktop.svg);
    background-position: right center;
    background-size: 50% 100%;
  }

  &__content {
    @include laptop() {
      width: 85%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__title {
    color: $veryLightGray;
    max-width: 242px;
    margin: auto;
    font-size: 35px;
    margin-bottom: 48px;

    @include laptop() {
      text-align: left;
      font-size: 54px;
      max-width: 477px;
      margin: 0px;
    }
  }
}

/*  =============
    `footer` block
    =============  */

.footer {
  text-align: center;
  background-color: $veryLightGray;
  background-image: url(../images/bg-pattern-footer-mobile.svg);
  background-repeat: no-repeat;
  padding-bottom: 70px;

  @include laptop() {
    text-align: left;
    background-image: url(../images/bg-pattern-footer-desktop.svg);
    background-size: 38%;
  }

  &__content {
    padding-top: 86px;
  }

  &__imgs {
    height: 76px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    @include laptop() {
      flex-direction: row;
    }
  }

  &__info {
    @include tablet() {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    @include laptop() {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

/* Nested `list-gp` block */

.list-gp {
  margin-bottom: 44px;
  text-transform: uppercase;
  font-weight: 700;

  &__title {
    margin-bottom: 42px;
    color: $darkGrayishViolet;
  }

  &__item {
    margin-bottom: 20px;
  }

  &__link {
    color: $veryDarkViolet;
    &:hover {
      border-bottom: 1px solid $veryDarkViolet;
    }
  }
}

/* Nested `social` block */

.social {
  &__icon {
    margin: 0 8px;
  }
}

/*  =============
    components
    =============  */

/* card block */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    color: $veryDarkViolet;
    font-size: 28px;
  }

  &__icon {
    margin-bottom: 42px;
  }

  &__text {
    max-width: 325px;
    color: $darkGrayishViolet;
  }
}

/* button block */

.btn {
  background-color: $DarkViolet;
  text-transform: uppercase;
  color: $veryLightGray;
  height: 37px;
  width: 144px;
  border: 2px solid $veryLightGray;
  letter-spacing: 2px;
  font-size: 12px;
  cursor: pointer;

  &:hover {
    background-color: $veryLightGray;
    color: $veryDarkViolet;
  }

  &--medium {
    width: 164px;
    height: 40px;
  }

  &--white {
    background-color: $veryLightGray;
    color: $DarkViolet;
    border-color: $DarkViolet;

    &:hover {
      background-color: $veryDarkViolet;
      color: $veryLightGray;
    }
  }
}
